h1 {
    color: #ffffff;
    font-family:Arial, Helvetica
}

h2 {
    color: #ffffff;
    font-family:Arial, Helvetica
}

h3 {
    color: #ffffff;
    font-family:Arial, Helvetica
}

h4 {
    color: #ffffff;
    font-family:Arial, Helvetica
}

li  {
    color: #ffffff;
    font-family:Arial, Helvetica    
}

dt  {
    color: #ffffff;
    font-family:Arial, Helvetica    
}

dl  {
    color: #ffffff;
    font-family:Arial, Helvetica    
}

body {
 background-color: rgb(26, 23, 23);
}

p{
    font-size: 18px; /* tamanho da fonte*/
    line-height: 1.4; /* espaçamento entre as linhas*/
    font-family: Arial, Helvetica;
    color: #ffffff;
}

img {
    max-width: 100%; /* largura maxima da imagem */
    height: auto; /* altura automática proporcional */
    margin: 20px 0; /* margem superior */
}

/* estilo para links */
a {
    color: #0070cc;
    text-decoration: none; /* remove sublinhado padrão */
}

a:hover {
    text-decoration: underline; /*sublinhado ao marcar o texto*/
}
